#list {
    list-style: none;
    text-align: center;
    margin: 0px auto;
}

#list > li {
    margin: 15px;
    text-align: center;
}

ol > li {
    margin: 15px;
}

.info {
    display: flex;
    justify-content: center;
}

.info > div {
    margin: 0 20px;
}

pre, 
code {
    white-space: pre-wrap;
}

#customCode {
    width: auto;
}

#chatgpt {
    color: white;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    padding-top: 5f0px;
}